In [1]:
import pandas as pd
import os

In [11]:
columns = 'Ticker','Date','Open','High','Low','Close','Volume','Dividends','Stock Splits'
stocks = pd.DataFrame(columns=columns)
TICKERS = [
    'AAPL', 'MSFT', 'GOOG', 'AMZN', 'NVDA', 'META',
    'TSLA', 'BABA', 'CRM', 'AMD', 'INTC', 'PYPL',
    'ATVI', 'EA', 'TTD', 'ZG', 'MTCH', 'YELP',
]
for ticker in TICKERS:
    stock_path = os.path.join("./", "results2/", ticker + '.csv')
    stock = pd.read_csv(stock_path)
    stock["Ticker"] = ticker
    stocks = pd.concat([stocks, stock], sort=False)
    
stocks

,Ticker,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,AAPL,1980-12-12 00:00:00-05:00,0.099722,0.100155,0.099722,0.099722,469033600,0.0,0.0
1,AAPL,1980-12-15 00:00:00-05:00,0.094953,0.094953,0.094519,0.094519,175884800,0.0,0.0
2,AAPL,1980-12-16 00:00:00-05:00,0.088015,0.088015,0.087581,0.087581,105728000,0.0,0.0
3,AAPL,1980-12-17 00:00:00-05:00,0.089749,0.090183,0.089749,0.089749,86441600,0.0,0.0
4,AAPL,1980-12-18 00:00:00-05:00,0.092351,0.092785,0.092351,0.092351,73449600,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2813,YELP,2023-05-08 00:00:00-04:00,28.07,28.889999,27.559999,28.030001,691500,0.0,0.0
2814,YELP,2023-05-09 00:00:00-04:00,27.76,27.959999,27.610001,27.75,579100,0.0,0.0
2815,YELP,2023-05-10 00:00:00-04:00,28.18,29.299999,27.91,28.48,725500,0.0,0.0
2816,YELP,2023-05-11 00:00:00-04:00,28.459999,30.040001,28.24,29.799999,1251800,0.0,0.0
2817,YELP,2023-05-12 00:00:00-04:00,29.82,29.84,29.4,29.440001,551369,0.0,0.0

In [12]:
stocks.to_csv("./stocks.csv", index=False)